@helper GeneratePageTitle(string titleFragment) {
	if (string.IsNullOrWhiteSpace(titleFragment))
	{
		@: Novus Craft
	}
	else
	{
		@: @titleFragment | Novus Craft
	}
}

<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<title>@GeneratePageTitle(@ViewBag.Title)</title>
	<meta name="author" content="Arnold Zokas">
	
	<link rel="alternate" type="application/rss+xml" title="Novus Craft RSS feed" href="http://feeds.feedburner.com/novuscraft">

	@Html.Raw(Bundle.Css().Add("~/css/style.css").Render("~/css/novuscraft_#.css"))
	<script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
<div id="container" class="container_16">
	<header id="header">
		<h1 class="grid_4">
			<a href="/" title="NovusCraft homepage">
				Novus Craft
			</a>
		</h1>
		<nav class="grid_4 prefix_8">
			<ul>
				<li>@Html.MenuLink("Home", "Home", "Home", "Novus Craft homepage")</li>
				<li>@Html.MenuLink("About", "Home", "About", "About Novus Craft")</li>
				<li>@Html.MenuLink("Contact", "Home", "Contact", "Contact Novus Craft")</li>
			</ul>
		</nav>
	</header>
	<div class="clear"></div>
	@RenderBody()
	<aside class="grid_4 prefix_1">
		@if (IsSectionDefined("aside")) {
			@RenderSection("aside", required: false)
		} else {
			<a id="subscribe" href="http://feeds.feedburner.com/novuscraft" title="Subcribe to latest articles published on novuscraft.com">Subcribe to the RSS feed</a>
			Html.RenderPartial("Bio");
		}
	</aside>
	<div class="clear"></div>
	<footer id="footer">
		<span class="grid_4">Copyright &copy; 2011 Novus Craft</span>
		<span class="grid_4 prefix_8 source">Source code is available on <a href="https://github.com/NovusCraft/NovusCraft" title="novuscraft.com public Git repository">GitHub</a></span>
	</footer>
</div><!--! end of #container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

@Html.Raw(Bundle.JavaScript().Add("~/js/plugins.js", "~/js/script.js").Render("~/js/novuscraft_#.js"))

@if (HttpContext.Current.IsDebuggingEnabled == false)
{
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-6456308-6']);
		_gaq.push(['_trackPageview']);
		_gaq.push(['_trackPageLoadTime']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
}

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"});})</script>
<![endif]-->

</body>
</html>
