@helper GeneratePageTitle(string titleFragment) {
	if (string.IsNullOrWhiteSpace(titleFragment))
	{
		@: Novus Craft
	}
	else
	{
		@: @titleFragment | Novus Craft
	}
}

<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<title>@GeneratePageTitle(@ViewBag.Title)</title>
	<meta name="author" content="Arnold Zokas">
	
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
<div id="container" class="container_16">
	<header id="header">
		<h1 class="grid_4">
			<a href="/" title="NovusCraft homepage">
				Novus Craft
			</a>
		</h1>
		<nav class="grid_4 prefix_8">
			<ul>
				<li>@Html.MenuLink("Home", "Home", "Home", "NovusCraft homepage")</li>
				<li>@Html.MenuLink("About", "Home", "About", "About NovusCraft")</li>
				<li>@Html.MenuLink("Contact", "Home", "Contact", "Contact NovusCraft")</li>
			</ul>
		</nav>
	</header>
	<div class="clear"></div>
	@RenderBody()
	<aside class="grid_4 prefix_1">
		<div id="about-mini">
			<p>Hi, my name is Arnold Zokas.<br />I create websites using ASP.NET MVC, Sitecore, beautifully crafted HTML, CSS, and JS</p>
			<a href="http://stackexchange.com/users/415edd37188f4c96aeda3a1b9e8cf4bd" rel="me">
				<img src="http://stackexchange.com/users/flair/415edd37188f4c96aeda3a1b9e8cf4bd.png" alt="profile for Arnold Zokas on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Arnold Zokas on Stack Exchange, a network of free, community-driven Q&amp;A sites">
			</a>
		</div>
	</aside>
	<div class="clear"></div>
	<footer id="footer">
		<span class="grid_4">Copyright &copy; 2011 Novus Craft</span>
		<span class="grid_4 prefix_8 source">Source code is available on <a href="https://github.com/NovusCraft/NovusCraft" title="novuscraft.com public Git repository">GitHub</a></span>
	</footer>
</div><!--! end of #container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.min.js"><\/script>')</script>

<script src="/js/plugins.js"></script>
<script src="/js/script.js"></script>

@if (HttpContext.Current.IsDebuggingEnabled == false)
{
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-6456308-6']);
		_gaq.push(['_trackPageview']);
		_gaq.push(['_trackPageLoadTime']);

		(function () {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
}

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"});})</script>
<![endif]-->

</body>
</html>
