@helper GeneratePageTitle(string titleFragment)
{
	if (string.IsNullOrWhiteSpace(titleFragment))
	{
		@: Novus Craft
	}
	else
	{
		@: @titleFragment | Novus Craft
	}
}

<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js ie oldie" lang="en"> <![endif]-->
<!--[if !IE]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<title>@GeneratePageTitle(@ViewBag.Title)</title>
	<meta name="author" content="Arnold Zokas">
	<meta name="description" content="@ViewBag.Description">
	
	<link rel="alternate" type="application/rss+xml" title="Novus Craft RSS feed" href="http://feeds.feedburner.com/novuscraft">

	@Html.Raw(Bundle.Css().Add("~/css/libs/prettify-01.June.2011.css", "~/css/master.css").Render("~/css/novuscraft_#.css"))
	<script src="/js/libs/modernizr-2.0.6.min.js"> </script>
</head>
<body>
	<header id="header">
		<h1>
			<a href="/" title="NovusCraft homepage">
				Novus Craft
			</a>
		</h1>
		<nav>
			<ul>
				<li>@Html.MenuLink("Home", "Home", "Home", "Novus Craft homepage")</li>
				<li>@Html.MenuLink("About", "Home", "About", "About Novus Craft")</li>
				<li>@Html.MenuLink("Contact", "Home", "Contact", "Contact Novus Craft")</li>
			</ul>
		</nav>
	</header>
	<div class="clearfix"></div>
	<div id="container">
		@RenderBody()
		<aside>
			@if (IsSectionDefined("aside"))
			{
				@RenderSection("aside")
			}
			else
			{
				<a id="subscribe" href="http://feeds.feedburner.com/novuscraft" title="Subcribe to latest articles published on novuscraft.com">Subcribe to the RSS feed</a>
				Html.RenderPartial("Bio");
			}
		</aside>
		<div class="clearfix"></div>
		<footer id="footer">
			<span>Copyright &copy; 2011-2012 Novus Craft</span>
		</footer>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>
	<script> window.jQuery || document.write('<script src="/js/libs/jquery-1.7.1.min.js"><\/script>') </script>
	@Html.Raw(Bundle.JavaScript().Add("~/js/libs/prettify/prettify-01.June.2011.js", "~/js/master.js").Render("~/js/novuscraft_#.js"))
	
	@if (HttpContext.Current.IsDebuggingEnabled == false)
	{
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-6456308-6']);
			_gaq.push(['_trackPageview']);
			_gaq.push(['_trackPageLoadTime']);

			(function() {
				var script = document.createElement("script");
				script.async = true;
				script.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				document.getElementsByTagName("body")[0].appendChild(script);
			})();
		</script>
	}
	
	<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"> </script>
		<script> window.attachEvent("onload", function() { CFInstall.check({ mode: "overlay" }); }) </script>
	<![endif]-->
	
</body>
</html>