@model LogInModel

@{
	ViewBag.Title = "Log In";
}

<article class="post">
	<header>
		<h1>Log In</h1>
	</header>
	@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
	
	@using (Html.BeginForm()) {
		<fieldset>
			<div>
				@Html.LabelFor(m => m.Email)
				@Html.TextBoxFor(m => m.Email)
				@Html.ValidationMessageFor(m => m.Email)
			</div>
			<div>
				@Html.LabelFor(m => m.Password)
				@Html.PasswordFor(m => m.Password)
				@Html.ValidationMessageFor(m => m.Password)
			</div>
			<div>
				@Html.AntiForgeryToken()
				<input type="submit" value="Log In" />
			</div>
		</fieldset>
	}

</article>