@model CreateBlogPostModel
		   
@section aside
{
	Links, etc.
}

<script src="/js/libs/pagedown.js" type="text/javascript"> </script>

<section id="blog-post-editor" class="primary-content form">
	<header>
		<h1>Create blog post</h1>
	</header>
	@using (Html.BeginForm())
	{
		<fieldset>
			<div>
				@Html.LabelFor(m => m.Title)
				@Html.TextBoxFor(m => m.Title, new { @class = "title" })
				@Html.ValidationMessageFor(m => m.Title)
			</div>
			<div>
				@Html.LabelFor(m => m.Slug)
				@Html.TextBoxFor(m => m.Slug)
				@Html.ValidationMessageFor(m => m.Slug)
			</div>
			<div>
				@Html.LabelFor(m => m.Content)
				<div id="wmd-button-bar"></div>
				@Html.TextAreaFor(m => m.Content, new { id = "wmd-input" })
			</div>
			<div>
				@Html.LabelFor(m => m.CategoryTitle)
				@Html.TextBoxFor(m => m.CategoryTitle)
				@Html.ValidationMessageFor(m => m.CategoryTitle)
			</div>
			<div>
				@Html.AntiForgeryToken()
				<input type="submit" value="Save changes" />
			</div>
		</fieldset>
	}
	<article id="live-preview" class="post">
		<header>
			<h1 class="titlePreview">Blog post title</h1>
			<p class="meta">Published by <a href="#">Arnold Zokas</a> <a class="profile-link" rel="author" href="#"><img alt="Arnold Zokas's profile on Google Plus" src="http://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16"></a> on @DateTimeOffset.Now.ToLongDate() in category <strong>Category title</strong>.</p>
		</header>
		<div id="wmd-preview"></div>
	</article>
</section>