@model BlogPost

@{
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
	ViewBag.Title = "Create blog post";
}

<section id="blog-post-editor" class="primary-content">
	<header>
		<h1>Create blog post</h1>
	</header>
	@using (Html.BeginForm())
	{
		@Html.ValidationSummary("Please correct the errors below:")
		@Html.AntiForgeryToken()
		<fieldset>
			<div>
				@Html.LabelFor(m => m.Title)
				@Html.TextBoxFor(m => m.Title, new { @class = "title" })
			</div>
			<div>
				@Html.LabelFor(m => m.Slug)
				@Html.TextBoxFor(m => m.Slug)
			</div>
			<div>
				@Html.LabelFor(m => m.Content)
				@Html.TextAreaFor(m => m.Content, new { @class = "content" })
			</div>
			<div>
				@Html.LabelFor(m => m.Category)
				@Html.TextBoxFor(m => m.Category, new { @class = "category" })
			</div>
			@Html.EditorFor(m => m.PublishedOn, new { @class = "publishDate" })
			<div>
				<input type="submit" value="Save changes" />
			</div>
		</fieldset>
	}
	<article id="live-preview" class="post">
		<header>
			<h1 class="titlePreview">Blog post title</h1>
			<p class="meta">Published by <a href="#">Arnold Zokas</a> <a class="profile-link" rel="author" href="#"><img alt="Arnold Zokas's profile on Google Plus" src="http://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16"></a> on <span class="publishDatePreview">@Model.PublishedOn.ToEditorLongDateTime()</span> in category <strong class="categoryPreview">Category title</strong>.</p>
		</header>
		<div class="contentPreview">
			<p>Start typing to see a preview.</p>
		</div>
	</article>
</section>
<aside>
	Contextual information
</aside>