@model EditBlogPostModel

@{
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
	ViewBag.Title = "Edit blog post";
}

<section id="blog-post-editor" class="primary-content">
	<header>
		<h1>Edit blog post</h1>
	</header>
	@using (Html.BeginForm())
	{
		@Html.HiddenFor(m => m.Id)
		@Html.ValidationSummary("Please correct the errors below:")
		@Html.AntiForgeryToken()
		<fieldset>
			<div>
				@Html.LabelFor(m => m.Title)
				@Html.TextBoxFor(m => m.Title, new { @class = "title" })
			</div>
			<div>
				@Html.LabelFor(m => m.Slug)
				@Html.TextBoxFor(m => m.Slug)
			</div>
			<div>
				<label for="wmd-input">Content</label>
				<div id="wmd-button-bar"></div>
				@Html.TextAreaFor(m => m.Content, new { id = "wmd-input" })
			</div>
			<div>
				@Html.LabelFor(m => m.CategoryTitle)
				@Html.TextBoxFor(m => m.CategoryTitle, new { @class = "category" })
			</div>
			<div>
				<input type="submit" value="Save changes" />
			</div>
		</fieldset>
	}
	<article id="live-preview" class="post">
		<header>
			<h1 class="titlePreview">@Model.Title</h1>
			<p class="meta">Published by <a href="#">Arnold Zokas</a> <a class="profile-link" rel="author" href="#"><img alt="Arnold Zokas's profile on Google Plus" src="http://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16"></a> on @Model.PublishedOn.ToLongDate() in category <strong class="categoryPreview">@Model.CategoryTitle</strong>.</p>
		</header>
		<div id="wmd-preview"></div>
	</article>
</section>
<aside>
	Contextual information
</aside>