@model ViewBlogPostModel

@{
	ViewBag.Title = @Model.Title;
}

<article class="primary-content post" itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<h1 itemprop="name">@Model.Title</h1>
		<p class="meta">
			Written by @Html.ActionLink("Arnold Zokas", "About", "Home", null, new { itemprop = "author" }) 
			<a class="profile-link" rel="author" href="@Config.Get("GooglePlusProfileUrl")?rel=author">
				<img alt="Arnold Zokas's profile on Google Plus" src="http://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16">
			</a> 
			on <time datetime="@Model.PublishedOn.ToIsoDate()" pubdate itemprop="datePublished">@Model.PublishedOn.ToUniversalTime().ToLongDate()</time> 
			on topic of <span itemprop="genre">@Model.Category</span>.
		</p>
	</header>
	@Html.Raw(Model.Content)
	<footer>
		@{ Html.RenderPartial("Social", Model.Permalink); }
		<div class="clearfix"></div>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = "novuscraft";
			var disqus_developer = @(HttpContext.Current.IsDebuggingEnabled ? "1" : "0");
			var disqus_identifier = "@Model.Id";
			var disqus_url = "@Model.Permalink";
			(function(d,t) {
				var e = d.createElement(t),
				    s = d.getElementsByTagName(t)[0];
				
				e.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				s.parentNode.insertBefore(e, s);
			}(document, 'script'));
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</footer>
</article>