@model ViewPostModel

@{
	ViewBag.Title = @Model.Title;
}

<article class="post grid_11">
	<header>
		<h1>@Model.Title</h1>
	</header>
	@Model.Content
	<footer>
		<div class="meta">Published by @Html.ActionLink("Arnold Zokas", "About", "Home", null, new { rel = "author" }) <a class="profile-link" rel="author" href="https://plus.google.com/105019550316988242906"><img alt="Arnold Zokas's profile on Google Plus" src="http://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16"></a> on <time datetime="@Model.PublishedOn.ToIsoDate()" pubdate>@Model.PublishedOn.ToLongDate()</time> in category <strong>@Model.CategoryTitle</strong>.</div>
		<div class="share">
			<div class="twitter">@{ Html.RenderPartial("TwitterButton", new TwitterButtonModel { Text = @Model.Title }); }</div>
			<div class="google">@{ Html.RenderPartial("GoogleButton"); }</div>
			<div class="facebook">@{ Html.RenderPartial("FacebookButton", new FacebookButtonModel { Action = "recommend" }); }</div>
		</div>
		<div class="clearfix"></div>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = "novuscraft";
			var disqus_developer = @(HttpContext.Current.IsDebuggingEnabled ? "1" : "0");
			var disqus_identifier = "@Model.Id";
			var disqus_url = "@Model.Permalink";
			(function () {
				var script = document.createElement("script");
				script.async = true;
				script.src = "http://" + disqus_shortname + ".disqus.com/embed.js";
				document.getElementsByTagName("body")[0].appendChild(script);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</footer>
</article>