@model ViewPostModel

@{
	ViewBag.Title = @Model.Title + " | Blog";
}

<article class="post grid_11">
	<header>
		<h1>@Model.Title</h1>
	</header>
	@Model.Content
	<footer>
		<span class="meta">Published by @Html.ActionLink("Arnold Zokas", "About", "Home", null, new { rel="author" }) on <time datetime="@Model.PublishedOn.ToIsoDate()" pubdate>@Model.PublishedOn.ToLongDate()</time> in category <strong>@Model.CategoryTitle</strong>.</span>
		<div class="share">
			<div class="twitter">@{ Html.RenderPartial("TwitterButton", new TwitterButtonModel { Text = @Model.Title }); }</div>
			<div class="google">@{ Html.RenderPartial("GoogleButton"); }</div>
			<div class="facebook">@{ Html.RenderPartial("FacebookButton", new FacebookButtonModel { Action = "recommend" }); }</div>
		</div>
		<div class="clearfix"></div>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = "novuscraft";
			var disqus_developer = @(HttpContext.Current.IsDebuggingEnabled ? "1" : "0");
			var disqus_identifier = "@Model.DisqusId";
			var disqus_url = "@Model.Permalink";
			(function () {
				var dsq = document.createElement("script"); dsq.type = "text/javascript"; dsq.async = true;
				dsq.src = "http://" + disqus_shortname + ".disqus.com/embed.js";
				(document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</footer>
</article>