@model IList<ViewBlogPostModel>
		   
@section aside
{
	@Html.ActionLink("New post", "CreateBlogPost", "Blog")
}

<section>
	<header>
		<h1>Dashboard</h1>
	</header>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Category</th>
				<th>Published On</th>
			</tr>
		</thead>
		<tbody>
			@{
				foreach (var viewBlogPostModel in Model)
				{
					<tr>
						<td>@Html.ActionLink(@viewBlogPostModel.Title, "EditBlogPost", "Blog", new { viewBlogPostModel.Id }, null)</td>
						<td>@viewBlogPostModel.CategoryTitle</td>
						<td>@viewBlogPostModel.PublishedOn</td>
					</tr>
				}
			}
		</tbody>
	</table>
</section>