@model List<BlogPost>
		   
@{
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section class="primary-content">
	<header>
		<h1>Dashboard</h1>
	</header>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Category</th>
				<th>Published On</th>
			</tr>
		</thead>
		<tbody>
			@{
				foreach (var viewBlogPostModel in Model)
				{
					<tr>
						<td>@Html.ActionLink(@viewBlogPostModel.Title, "EditBlogPost", "Blog", new { viewBlogPostModel.Id }, null)</td>
						<td>@viewBlogPostModel.Category</td>
						<td>@viewBlogPostModel.PublishedOn</td>
					</tr>
				}
			}
		</tbody>
	</table>
</section>
<aside>
	<ul id="contextual-actions">
		<li>@Html.ActionLink("Create Blog Post", "CreateBlogPost", "Blog", null, new { @class = "icon-create" })</li>
	</ul>
</aside>