@model UpdateBlogPostModel

@{ ViewBag.Title = "Edit blog post"; }

<section id="blog-post-editor" class="primary-content">
	<header>
		<h1>Edit blog post</h1>
	</header>
	@using (Html.BeginForm())
 {
		@Html.ValidationSummary("Please correct the errors below:")
		@Html.AntiForgeryToken()
		@Html.HiddenFor(m => m.Id)
		<fieldset>
			@Html.EditorFor(m => m.Title, new { @class = "title autofocus" })
			@Html.EditorFor(m => m.Slug)
			@Html.EditorFor(m => m.Content, "TextArea", new { @class = "content" })
			@Html.EditorFor(m => m.Category, "AutoComplete", new { @class = "category", options = Model.ExistingCategories })
			@Html.EditorFor(m => m.PublishedOn, new { @class = "publishDate" })
			<div class="commands">
				<input type="submit" value="Save changes" />
				@Html.ActionLink("Cancel and go back", "Home", "Dashboard")
			</div>
		</fieldset>
 }
	<article id="live-preview" class="post">
		<header>
			<h1 class="titlePreview">@Model.Title</h1>
			<p class="meta">Published by <a href="#">Arnold Zokas</a> <a class="profile-link" rel="author" href="#"><img alt="Arnold Zokas's profile on Google Plus" src="http://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16"></a> on <span class="publishDatePreview">@Model.PublishedOn.ToUniversalTime().ToEditorLongDateTime()</span> in category <strong class="categoryPreview">@Model.Category</strong>.</p>
		</header>
		<div class="contentPreview">
			@Html.Raw(Model.Content)
		</div>
	</article>
</section>
<aside>
	<ul id="contextual-actions">
		<li>@Html.ActionLink("Delete permanently", "DeleteBlogPost", "Blog", new { id = Model.Id }, new { @class = "icon-delete" })</li>
	</ul>
</aside>